    * {
    font-family: Helvetica, sans-serif;
    color: Black;
    margin: 0;
    padding: 0;
    text-align: center;
}

    
/* ************ Header Format ************ */

#navigation_bar {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgb(170, 170, 170), white)

}

.nav_div {
    width: auto;
    height: 50px;
    display: inline-flex;
    padding: 5px 40px 0px 40px;
    background-image: linear-gradient(rgb(170, 170, 170), white);
    font-size: 1rem;
    text-decoration: underline;
}

.nav_div h3{
    
    text-decoration: none;
    letter-spacing: 1px;
    list-style-type: none;
}



#header_format {
    width: 100%;
    height: auto;
    background-color: rgb(170, 170, 170);
    color: white;
}

#header_title {
    height: auto;
    width: 100%;
    text-align: center;
    /* https://www.w3schools.com/css/css3_gradients.asp - learned about gradience*/
     background-image: linear-gradient(rgb(170, 170, 170), white);
     padding-bottom: 10px;
    
}

#header_title h1 {
    color: black;
    text-decoration-line: underline;
}

.hero_format {
    width: 100%;
}

.logo_format {
    width: 150px;
    height: 150px;
}

#how_to_div {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(white, rgb(170,170,170), white);
    text-align: center;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
#how_to_div h2{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

#how_to_div button {
    height: 50px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}

#how_to_div h4{
    text-align: center;
    padding-bottom: 10px;
}

#how_to_div h5{
    text-align: center;
    padding-bottom: 10px;
}

.game_controls {
    height: auto;
    width: 100%;
    margin: 10px;
}

#start {
    height: 50px;
    width: 110px;
    background-color: rgba(0, 128, 0, 0.8);
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bolder;
}

#reset {
    height: 50px;
    width: 110px;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bolder;
}

#submit {
    height: 50px;
    width: 110px;
    background-color: rgba(255, 166, 0, 0.8);
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bolder;
}

.score {
    height: auto;
    width: 100%;
    display: inline;
}
.score_div {
    display: inline-flex;
    width: 25%;
}

#correct_text {
    color: green;
}


#incorrect_text {
    color: red;
}





/* ************ Main Section Format ************ */

.main_section {
    height: 200px;
    background-color: white;
}



.container {
    width: 100%;
    padding-bottom: 100px;
    height: auto;
}

.col {
    width: 150px;
    height: 150px;
    background-color: white;
    text-align: center;
    display: inline-flex;
    border-radius: 25px;
}



.front {
    width: 150px;
    height: 150px;
    background: url(../images/bmw_logo.jpg) no-repeat center center /contain;
}

.back {
    width: 150px;
    height: 150px;
    background: url(../images/bmw_test.jpg) no-repeat center center /contain;
}


.back10 {
    width: 150px;
    height: 150px;
    background: url(../images/bmw_test.jpg) no-repeat center center /contain;
    border-radius: 25px;
}

.locked10 {
    width: 150px;
    height: 150px;
    background: url(../images/bmw_test.jpg) no-repeat center center /contain;
    border-radius: 25px;
}

.back11 {
    width: 150px;
    height: 150px;
   background-color: red;
   border-radius: 25px;
}

.back12 {
    width: 150px;
    height: 150px;
    background-color: blue;
    border-radius: 25px;
}

.back13 {
    width: 150px;
    height: 150px;
    background-color: chartreuse;
    border-radius: 25px;
}


/* ******* Footer Formatting ******* */
.footer_div {
    padding-top: 20px;;
    text-align: center; 
    font-size: 1.0rem;
    text-transform: uppercase;
    background-image: linear-gradient(white, rgb(170,170,170));
}

.footer_p_format {
    text-align: center; 
    font-size: 1.0rem;
    text-transform: none;
}

footer {
    background-image: linear-gradient(white, rgb(170,170,170));
    padding-left: 20px;
    padding-right: 20px;
}

footer div h1 {
    font-size: 1.25rem;
    text-transform: uppercase;
}


/* Social networks code below borrowed from Code Institute Love running project */
.social_networks{
    text-align: center;
}

.social_networks li {
    display:inline;
}

.social_networks i {
    font-size: 3rem;
    padding: 1%;
    color:black;
}